.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.link-nav {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.link-nav:hover {
  color: #ffc107;
} 

